body {
  background-color: #37537e;
}
#nav {
  display: flex;
  gap: 5%;
  margin: -1%;
  position: sticky;
  top: 0%;
  background-color: wheat;
  padding: 1%;
}
#nav > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#city {
  background-color: aqua;
  border: 2px solid rebeccapurple;
  border-radius: 10px;
  padding: 1%;
  font-size: 20px;
  width: 50%;
}
button {
  /* width: 15%; */
  border: 2px solid black;
  border-radius: 10px;
  font-size: 18px;
  background-color: yellow;
  cursor: pointer;
}
button:hover {
  background-color: yellowgreen;
  border: 2px solid red;
}
#body {
  display: flex;
  gap: 5%;
  margin-top: 5%;
}
#container {
  width: 40%;
  padding: 5%;
}
#container h1 {
  font-size: 50px;
  color: pink;
  font-family: "Roboto", sans-serif;
}
#container h3 {
  color: whitesmoke;
  font-family: "Plus Jakarta Sans", sans-serif;
}
#weeklyData {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}
#weeklyData > div {
  /* border: 2px solid red; */
  border-radius: 10px;
  padding: 2%;
}
h2 {
  color: whitesmoke;
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
  letter-spacing: 2px;
}
#weeklyData img {
  width: 70%;
  margin: auto;
}
#weeklyData p {
  color: beige;
  line-height: 23px;
  text-align: justify;
}

@media (min-width: 100px) and (max-width: 600px) {
  button,
  input {
    font-size: 10px !important;
  }
  h1,
  h2 {
    font-size: 14px !important;
  }
  h3,
  p {
    font-size: 8px !important;
  }
  #body {
    flex-direction: column;
  }
  #container {
    width: 100%;
  }
  #gmap_canvas {
    width: 100% !important;
  }
  #weeklyData {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
    button,
  input {
    font-size: 14px !important;
  }
  h1,
  h2 {
    font-size: 16px !important;
  }
  h3,
  p {
    font-size: 10px !important;
  }
  #container {
    width: 100%;
  }
  #gmap_canvas {
    width: 400px !important;
  }
  #weeklyData {
    grid-template-columns: repeat(3, 1fr);
  }
}
